body {
    background-color: #acacff;
    margin: 20%;
    color: white;
}

nav {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family: cursive;
    background-color: orange;
    position: flexbile;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 purple;
}

nav * {
    display: flex;
    justify-content: space-evenly;

}

nav ul {
    border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box;
}

nav li {
    margin: 20px;

}

nav li a {
    color: blue;
    text-decoration: none;
}

video {
    width: 160px;
    height: 80px;
    background: orange;
    border-radius: 50%;
}

/* Styling the Title and givingcolor shadow to the title */
#title {
    text-align: center;
    text-shadow: 5px 5px 10px purple;
    font-size: 7vh;
    color: white;
}

/* Setting width and display type of image */
img {
    display: inline-block;
    width: 100%;
    float: left;
}

/* Styling the content of the page like-padding, font-size, font color etc.*/
#tribute-data {
    background-color: #A9BFD6;
    box-shadow: 20px 20px 20px #FFC890;
    font-family: cursive;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    text-align: justify;
    text-justify: values;
}

/* Styling the title of the content */
#title {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-family: cursive;
}

figure {
    box-shadow: 20px 20px 20px #c09c78;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    background-color: white;
}

figcaption {
    font-family: cursive;
    font-size: 15px;
    color: rgb(91, 65, 65);
}

/* Styling the link provided at the end */
#tribute-link {
    text-decoration: none;
    color:rgb(88, 88, 224);
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dfdfff;
    color:rgb(88, 88, 224);
    text-align: center;
    font-family: cursive;
}